
        

<div class="row mb-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                        Productos
                </div>

                <div class="card-table table-responsive">
                        <a class="btn btn-primary" (click)="openAddProducts()">
                            <i class="fa fa-plus"></i>
                        </a>

<table class="table">
    <tr>
    <td>
    Nombre</td>
    <td>
    Descripción</td>
    <td>
    BarCode</td>
    <td>
    Fecha de Creación</td>
    <td>Acciones</td>
    </tr>
    <tr *ngFor="let product of products; let i = index">
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.barCode}}</td>
        <td>{{product.creationDate}}</td>
        <td><a (click)="openDialog(product.id)" title="Añadir Stock!"> <i class="fa fa-cog"></i> </a>
            <a (click)="openSales(product.id)" title="Realizar Venta!"> <i class="fa fa-black-tie"></i> </a>
            
        </td>
    </tr>
    </table>
</div>
</div>
</div>
</div>