<mat-dialog-content>
        <p>Ventas</p>
        Cantidad Disponible {{quantityAvailable}}
        <p [ngStyle]="{color: status==true?'red':'green'}">{{error}}</p>    
        cantidad : <input type="number" [(ngModel)]="quantity" class="form-control" 
            id="quantity" >
               
           
            
            total : <input type="number"  [(ngModel)]="total" class="form-control"  
            id="total">
           
        </mat-dialog-content>
        <mat-dialog-actions >
            <button mat-raised-button color="primary" (click)="save()" tabindex="1">Guardar</button>
            <button mat-raised-button mat-dialog-close tabindex="-1">Cancelar</button>
        </mat-dialog-actions>
    
