
<div class="col-md-8 col-md-offset-4">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h2>Añadir Productos</h2>
                </div>
            </div>
           
            <div class="row">
                   
                <form [formGroup]="productGroup" (ngSubmit)="onSubmit()">
                    <div class="col-lg-12">
                        <label for="nameSite">Nombre</label>
                        <input type="text" class="form-control" formControlName="name"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" id="nameSite" placeholder="Nombre">

                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">El nombre es requerido</div>
                        </div>
                    </div>
                    <div class="col-lg-12">


                        <label for="description">Descripción</label>
                        <input type="text" class="form-control" formControlName="description" 
                            id="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                            
                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <div *ngIf="f.description.errors.required">El  tipo es requerido</div>
                        </div>


                    </div>

                    <div class="col-lg-12">


                            <label for="barCode">Barcode</label>
                            <input type="text" class="form-control" formControlName="barCode" 
                                id="barCode" [ngClass]="{ 'is-invalid': submitted && f.barCode.errors }">
                                
                            <div *ngIf="submitted && f.barCode.errors" class="invalid-feedback">
                                <div *ngIf="f.barCode.errors.required">El  tipo es requerido</div>
                            </div>
    
    
                        </div>
                    <div class="col-lg-12">


                            <label for="nameSite">Estado</label>
                            <select class="form-control" formControlName="state" 
                                id="exampleFormControlSelect1" [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                                <option value="Activo">Activo</option>
                                <option value="Inactivo">Inactivo</option>
                            </select>
                            <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                <div *ngIf="f.state.errors.required">El estado es requerido</div>
                            </div>
    
    
                        </div>
                        <br>
                        <br>
                        <a class="btn btn-default" (click)="openModal('custom-modal-1')">
                            <i class="fa fa-plus"></i> Stock
                        </a>
                        <div *ngIf="displayStock">
                            cantidad : <input type="number" formControlName="quantity"  class="form-control" 
                            id="quantity" (change)="calculateTotal()">
                            

                            valor unitario : <input type="number" formControlName="value" class="form-control" 
                            id="value" (change)="calculateTotal()">

                            total : <input type="number" disabled formControlName="total" class="form-control"  
                            id="total">
                        </div>
                        <br>
                        <br>
                        <p>{{msg}}</p>
                        <button id="save" type="submit" class="btn btn-primary waves-effect waves-light">Guardar</button>
                        <a class="btn btn-default" href="#">
                                <i class="fa fa-undo"></i> 
                            </a>

                    </form>
                </div>
            </div>
        </div>
    </div>