<mat-dialog-content>
    <p>Stock</p>
    <p  [ngStyle]="{color: status==true?'red':'green'}">{{msg}}</p>
        cantidad : <input type="number" [(ngModel)]="quantity" class="form-control" 
        id="quantity" (change)="calculateTotal()">
        
        
        valor unitario: <input type="number" [(ngModel)]="value" class="form-control" 
        id="value" (change)="calculateTotal()">
        
        total : <input type="number" disabled [(ngModel)]="total" class="form-control"  
        id="total">
       
    </mat-dialog-content>
    <mat-dialog-actions >
        <button mat-raised-button color="primary" (click)="saveStock()" tabindex="1">Guardar</button>
        <button mat-raised-button mat-dialog-close tabindex="-1">Cancelar</button>
    </mat-dialog-actions>
